body
  font-family: fontRoboto
  max-width: 1200px
  margin 0 auto

.app-container
  padding 5%
  header
    margin bodyMargin
    margin-bottom: 30px
    .app-title
      app-title()
    .app-description
      font-style: italic

.app-form
  margin bodyMargin

.app-body
  padding 10px
