@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Nunito");
body {
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}
.app-container {
  padding: 5%;
}
.app-container header {
  margin: 1.666666%;
  margin-bottom: 30px;
}
.app-container header .app-title {
  text-transform: uppercase;
  font-size: 28pt;
  margin-bottom: 0;
}
.app-container header .app-description {
  font-style: italic;
}
.app-form {
  margin: 1.666666%;
}
.app-form .select-wrapper {
  background-color: #efefef;
  border-radius: 5px;
  position: relative;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.25);
  border: 1px solid #ddd;
}
.app-form .select-wrapper select {
  appearance: none;
  border: none;
  background: none;
  width: 100%;
  padding: 10px;
  border-radius: 0px;
}
.app-form .select-wrapper:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  position: absolute;
  right: 10px;
  top: 19px;
}
.app-body {
  padding: 10px;
}
.blog-list {
  display: flex;
  flex-wrap: wrap;
}
.blog-list .blog-post {
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.25);
  border: 1px solid #ddd;
  width: 30%;
  margin: 1.666666%;
  padding: 50px 15px;
  position: relative;
}
@media screen and (max-width: 800px) {
  .blog-list .blog-post {
    width: 46%;
    margin: 2%;
  }
}
@media screen and (max-width: 600px) {
  .blog-list .blog-post {
    width: 100%;
    margin: 20px 0;
  }
}
.blog-list .blog-post .blog-id {
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.25);
  border: 1px solid #ddd;
  padding: 5px;
}
.blog-list .blog-post .blog-title {
  font-size: 20px;
}
.blog-list .blog-post .blog-body {
  text-align: justify;
}
.blog-list .blog-post .blog-user-id {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #fff;
  padding: 10px;
  transition: all 0.5s ease-in;
}
.blog-list .blog-post .blog-user-id:before {
  content: 'User ID: ';
}
.blog-list .blog-post .blog-user-id:hover {
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.25);
  border: 1px solid #ddd;
  background: #fff;
  color: #000;
  cursor: pointer;
}
