//Import Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nunito');

//Fonts
fontRoboto = 'Roboto', sans-serif
fontNunito = 'Nunito', sans-serif

//Colours
colorGrey = #efefef
colorDarkGrey = #dddddd

//Variables
bodyMargin = 1.666666%
